@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<br />
<h4>This is an app designed to help students find the faculty that fits them best.</h4>
<br />
<p>Faculties from all over the country present their information here.</p>
<p>You will find a brief description of the faculties and information about their dean, teachers and exams.</p>
<p>Moreover, each faculty presents a list of canditates in order to see your competition and make a comparison between the number of available places and candidates.</p>