@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Romania<br />
    Bucharest, WA 98052-6399<br />
    425.555.0188
</address>

<address>
    <strong>CEO:</strong>   <a href="mailto:CEO@example.com">CEO@example.com</a><br />
    <strong>HR:</strong> <a href="mailto:HR@example.com">HR@example.com</a>
</address>