@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<br />
<address>
    Romania<br />
    Bucharest, WA 98052-6399<br />
</address>
<br />



<address>
    <p><strong>Phone:</strong> 425.555.0188</p>
    <strong>Email:</strong>   <a href="mailto:ceo@example.com">owner@example.com</a>
</address>